# IMPORTING

In [91]:
import pandas as pd
import numpy as np
import os
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.dummy import DummyRegressor
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [92]:
data = pd.read_csv('../kc_house_data_train.csv')

# TRAIN-TEST SPLIT

In [93]:
train_set, test_set = train_test_split(data, test_size=0.2, random_state=42)
print(len(train_set), "train +", len(test_set), "test")

13832 train + 3458 test

In [94]:
train_set.head(2)

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
2498,2498,1776460190,20140626T000000,429900.0,3,2.50,2370,5353,2.0,0,...,8,2370,0,2009,0,98019,47.7333,-121.975,2130,6850
10932,10932,2144800215,20140519T000000,285000.0,4,1.75,2080,13629,1.0,0,...,7,1040,1040,1955,0,98178,47.4866,-122.232,1780,14659

# PREPARE DATA FOR MACHINE LEARNING

In [97]:
x_train = train_set.drop('price', axis=1)
y = train_set['price'].copy()

In [98]:
x_train = data_train
y_train = y

# DUMMY MODEL

In [99]:
dummy = DummyRegressor() 

dummy.fit(x_train, y_train)

DummyRegressor(constant=None, quantile=None, strategy='mean')

In [100]:
y_pred = dummy.predict(x_train)

In [101]:
dummy_rmse = mean_squared_error(y_train, y_pred)
np.sqrt(dummy_rmse)

375388.594116481

In [103]:
rmse_dollars = '${:,.2f}'.format(375388.594116481)
rmse_dollars

'$375,388.59'