# IMPORTING

In [3]:
import pandas as pd
import numpy as np
import os
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.dummy import DummyRegressor
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.formula.api import ols
from sklearn.preprocessing import MinMaxScaler

In [4]:
data = pd.read_csv('../kc_house_data_train.csv')
data.head(2)

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,2591820310,20141006T000000,365000.0,4,2.25,2070,8893,2.0,0,...,8,2070,0,1986,0,98058,47.4388,-122.162,2390,7700
1,1,7974200820,20140821T000000,865000.0,5,3.00,2900,6730,1.0,0,...,8,1830,1070,1977,0,98115,47.6784,-122.285,2370,6283

# TRAIN-TEST SPLIT

In [5]:
train_set, test_set = train_test_split(data, test_size=0.2, random_state=42)
print(len(train_set), "train +", len(test_set), "test")

13832 train + 3458 test

# EXPLORATION

### Fixing Multicollinearity

In [6]:
train_set.corr()

,Unnamed: 0,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
Unnamed: 0,1.000000,-0.002729,-0.016211,-0.007189,-0.007736,-0.011740,0.000070,0.007015,-0.013879,-0.003810,...,-0.008129,-0.006247,-0.012707,0.006727,-0.003888,0.007083,0.003701,-0.007602,-0.015120,0.001194
id,-0.002729,1.000000,-0.013716,0.001760,0.006517,-0.011727,-0.127761,0.015495,0.004217,0.015183,...,0.003969,-0.013558,0.000911,0.015650,-0.013063,-0.008343,-0.003645,0.019419,-0.004474,-0.138317
price,-0.016211,-0.013716,1.000000,0.307988,0.525340,0.704121,0.085377,0.257358,0.274968,0.394868,...,0.665166,0.607765,0.328768,0.055751,0.116669,-0.053533,0.299592,0.021904,0.585049,0.077023
bedrooms,-0.007189,0.001760,0.307988,1.000000,0.507458,0.571027,0.024640,0.171761,-0.007944,0.078773,...,0.351833,0.472021,0.305404,0.153112,0.011024,-0.150122,0.002241,0.130911,0.388852,0.020822
bathrooms,-0.007736,0.006517,0.525340,0.507458,1.000000,0.755459,0.075928,0.500872,0.065738,0.185196,...,0.662807,0.689183,0.283769,0.509216,0.043099,-0.206920,0.024855,0.225686,0.568854,0.078895
sqft_living,-0.011740,-0.011727,0.704121,0.571027,0.755459,1.000000,0.162369,0.355310,0.111121,0.281277,...,0.759688,0.876001,0.443041,0.316894,0.050078,-0.200246,0.051758,0.236732,0.755972,0.171500
sqft_lot,0.000070,-0.127761,0.085377,0.024640,0.075928,0.162369,1.000000,0.001396,0.017237,0.064289,...,0.108015,0.181477,-0.001006,0.054277,0.002946,-0.124664,-0.074948,0.219387,0.130949,0.698640
floors,0.007015,0.015495,0.257358,0.171761,0.500872,0.355310,0.001396,1.000000,0.024986,0.025545,...,0.460443,0.529032,-0.247385,0.485278,0.005828,-0.066398,0.050577,0.139506,0.285303,-0.006864
waterfront,-0.013879,0.004217,0.274968,-0.007944,0.065738,0.111121,0.017237,0.024986,1.000000,0.404234,...,0.094636,0.073685,0.093204,-0.021583,0.100637,0.031429,-0.015095,-0.043629,0.087317,0.026732
view,-0.003810,0.015183,0.394868,0.078773,0.185196,0.281277,0.064289,0.025545,0.404234,1.000000,...,0.249299,0.161151,0.283073,-0.053836,0.093362,0.085675,0.006072,-0.080252,0.276065,0.063001
condition,-0.002558,-0.019037,0.043918,0.031912,-0.119673,-0.053548,-0.019494,-0.256326,0.006303,0.049783,...,-0.133185,-0.152154,0.171903,-0.355891,-0.060493,0.010713,-0.012382,-0.115381,-0.087368,-0.010085
grade,-0.008129,0.003969,0.665166,0.351833,0.662807,0.759688,0.108015,0.460443,0.094636,0.249299,...,1.000000,0.756199,0.167961,0.446090,0.003554,-0.188581,0.116398,0.202828,0.717130,0.111317
sqft_above,-0.006247,-0.013558,0.607765,0.472021,0.689183,0.876001,0.181477,0.529032,0.073685,0.161151,...,0.756199,1.000000,-0.044286,0.422115,0.021947,-0.262991,0.001064,0.342633,0.731326,0.189254
sqft_basement,-0.012707,0.000911,0.328768,0.305404,0.283769,0.443041,-0.001006,-0.247385,0.093204,0.283073,...,0.167961,-0.044286,1.000000,-0.128223,0.062933,0.074065,0.105229,-0.146528,0.206499,0.003453
yr_built,0.006727,0.015650,0.055751,0.153112,0.509216,0.316894,0.054277,0.485278,-0.021583,-0.053836,...,0.446090,0.422115,-0.128223,1.000000,-0.225221,-0.350452,-0.143264,0.413558,0.330715,0.074400
yr_renovated,-0.003888,-0.013063,0.116669,0.011024,0.043099,0.050078,0.002946,0.005828,0.100637,0.093362,...,0.003554,0.021947,0.062933,-0.225221,1.000000,0.064629,0.024927,-0.064325,-0.014834,0.003587
zipcode,0.007083,-0.008343,-0.053533,-0.150122,-0.206920,-0.200246,-0.124664,-0.066398,0.031429,0.085675,...,-0.188581,-0.262991,0.074065,-0.350452,0.064629,1.000000,0.264799,-0.565461,-0.278924,-0.145530
lat,0.003701,-0.003645,0.299592,0.002241,0.024855,0.051758,-0.074948,0.050577,-0.015095,0.006072,...,0.116398,0.001064,0.105229,-0.143264,0.024927,0.264799,1.000000,-0.130464,0.057542,-0.076934
long,-0.007602,0.019419,0.021904,0.130911,0.225686,0.236732,0.219387,0.139506,-0.043629,-0.080252,...,0.202828,0.342633,-0.146528,0.413558,-0.064325,-0.565461,-0.130464,1.000000,0.332188,0.243981
sqft_living15,-0.015120,-0.004474,0.585049,0.388852,0.568854,0.755972,0.130949,0.285303,0.087317,0.276065,...,0.717130,0.731326,0.206499,0.330715,-0.014834,-0.278924,0.057542,0.332188,1.000000,0.167251
sqft_lot15,0.001194,-0.138317,0.077023,0.020822,0.078895,0.171500,0.698640,-0.006864,0.026732,0.063001,...,0.111317,0.189254,0.003453,0.074400,0.003587,-0.145530,-0.076934,0.243981,0.167251,1.000000

Over 0.7:
 - sqft_living15: sqft_above, grade, sqft_living
 - sqft_above: grade, sqft_living
 - grade: sqft_living, sqft_above, sqft_living15
 - sqft_lot: sqft_living15
 - sqft_living: sqft_living15, sqft_above, grade, bathrooms, price
 - bathrooms, sqft_living
 - sqft_lot: sqft_lot15
 
STANDOUTS: (SQFT_LIVING + SQFT_ABOVE + SQFT_LIVING15) & (SQFT_LOT + SQFT_LOT15)

In [7]:
train_set.head()

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
2498,2498,1776460190,20140626T000000,429900.0,3,2.50,2370,5353,2.0,0,...,8,2370,0,2009,0,98019,47.7333,-121.975,2130,6850
10932,10932,2144800215,20140519T000000,285000.0,4,1.75,2080,13629,1.0,0,...,7,1040,1040,1955,0,98178,47.4866,-122.232,1780,14659
15638,15638,7891600165,20140627T000000,295000.0,1,1.00,700,2500,1.0,0,...,7,700,0,1907,0,98106,47.5662,-122.364,1340,5000
15099,15099,8732190200,20150115T000000,275000.0,4,2.25,2490,7233,1.0,0,...,8,1460,1030,1978,0,98023,47.3115,-122.396,2000,8000
15560,15560,9122001230,20141205T000000,590000.0,3,3.50,1970,5079,2.0,0,...,8,1680,290,2007,0,98144,47.5816,-122.296,1940,6000

# PREPARE DATA FOR MACHINE LEARNING

## Data Alterations

Dropped Columns: 'Unnamed: 0'; 'id'; 'sqft_lot15'; 'sqft_above'; 'sqft_living15'

Date column: made into three separate columns (date_year, date_month, date_day)

New Columns: 
 - sqft_above_to_living15 = sqft_above / sqft_living15
 - sqft_lot_bigger = 1 if sqft_lot > sqft_lot15 else 0

In [8]:
x_train = train_set.drop('price', axis=1)
y_train = train_set['price'].copy()

#### Column Modification

In [9]:
prep_x = x_train

In [10]:
prep_x['date_year'] = prep_x.date.apply(lambda x: int(x[:4]))
prep_x['date_month'] = prep_x.date.apply(lambda x: int(x[4:6]))
prep_x['date_day'] = prep_x.date.apply(lambda x: int(x[6:8]))
prep_x.drop('date',axis=1, inplace=True)

In [24]:
prep_x['sqft_above_to_living15'] = prep_x.sqft_above / prep_x.sqft_living15
prep_x['sqft_lot_bigger'] = prep_x.sqft_lot > prep_x.sqft_lot15
prep_x['sqft_lot_bigger'] = prep_x['sqft_lot_bigger'].apply(lambda x: int(x))

In [25]:
prep_x.head(1)

,Unnamed: 0,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,zipcode,lat,long,sqft_living15,sqft_lot15,date_year,date_month,date_day,sqft_above_to_living15,sqft_lot_bigger
2498,2498,1776460190,3,2.5,2370,5353,2.0,0,0,3,...,98019,47.7333,-121.975,2130,6850,2014,6,26,1.112676,0

#### Dropping Columns

In [26]:
prep_x = prep_x.drop(columns = ['Unnamed: 0','id','sqft_lot15','sqft_above','sqft_living15'])

In [27]:
prep_x.head(2)

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,date_year,date_month,date_day,sqft_above_to_living15,sqft_lot_bigger
2498,3,2.50,2370,5353,2.0,0,0,3,8,0,2009,0,98019,47.7333,-121.975,2014,6,26,1.112676,0
10932,4,1.75,2080,13629,1.0,0,0,4,7,1040,1955,0,98178,47.4866,-122.232,2014,5,19,0.584270,0

# LINEAR REGRESSION

In [28]:
x_train = prep_x

In [29]:
lr = LinearRegression()

lr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [30]:
def array_to_dict(labels,coeffs):
    '''
    This function takes two arrays as arguments and turns those 
    arrays into a dictionary so that it is easier to interpret the 
    coefficients from the sklearn analysis
    '''
    one_list = list(labels)
    two_list = list(coeffs)
    res = {} 
    for key in two_list: 
        for name in one_list: 
            res[key] = name 
            one_list.remove(name) 
            break 
    return res

In [32]:
coefficients = lr.coef_
variables = np.array(prep_x.columns)

array_to_dict(coefficients, variables)

{'bedrooms': -33579.039311643035,
 'bathrooms': 43415.73952061247,
 'sqft_living': 215.88849643571552,
 'sqft_lot': -0.0019239030314556317,
 'floors': 8577.65440505061,
 'waterfront': 585639.4742628516,
 'view': 51696.49280281562,
 'condition': 30183.715062621348,
 'grade': 93174.10003180803,
 'sqft_basement': -64.30753320294572,
 'yr_built': -2640.406319645864,
 'yr_renovated': 20.351297717476417,
 'zipcode': -564.2038027638632,
 'lat': 602250.7940195228,
 'long': -231654.82576153206,
 'date_year': 39342.20856008012,
 'date_month': 1514.4235058663737,
 'date_day': -240.50114829405166,
 'sqft_above_to_living15': -72174.484123379,
 'sqft_lot_bigger': -10154.163133126152}

In [33]:
lr.intercept_

-76315892.44525217

In [34]:
y_pred = lr.predict(x_train)

In [35]:
lr.score(x_train, y_train)

0.6997033018198944

In [36]:
lr_rsme = mean_squared_error(y_train, y_pred)
lr_rmse = np.sqrt(lr_rsme)

In [37]:
rmse_dollars = '${:,.2f}'.format(lr_rmse)
rmse_dollars

'$205,710.45'