# IMPORTING

In [296]:
import pandas as pd
import numpy as np
import os

from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.dummy import DummyRegressor
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats

import statsmodels.api as sm
from statsmodels.stats import diagnostic as diag
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.formula.api import ols

In [297]:
%store -r data_5

# Alterations: Engineered

In [298]:
data_6 = data_5

### Zip codes

In [299]:
zipcode_dummies = pd.get_dummies(data_6.zipcode)

In [300]:
merged = pd.concat([data_6,zipcode_dummies], axis='columns')

In [301]:
merged.shape

(17289, 98)

In [302]:
data_6 = merged.drop(columns=['zipcode',98155])

### Grade

In [303]:
grade_dummies = pd.get_dummies(data_6.grade)

In [304]:
merged = pd.concat([data_6,grade_dummies],axis='columns')
merged.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,4,5,6,7,8,9,10,11,12,13
0,365000.0,4.0,2.25,2070,9.093020,2.0,0,0,4,8,...,0,0,0,0,1,0,0,0,0,0
1,865000.0,5.0,3.00,2900,8.814330,1.0,0,0,5,8,...,0,0,0,0,1,0,0,0,0,0
2,1038000.0,4.0,2.50,3770,9.295876,2.0,0,2,3,11,...,0,0,0,0,0,0,0,1,0,0
3,1490000.0,3.0,3.50,4560,9.589325,2.0,0,2,3,12,...,0,0,0,0,0,0,0,0,1,0
4,711000.0,3.0,2.50,2550,8.589700,2.0,0,0,3,9,...,0,0,0,0,0,1,0,0,0,0

In [305]:
merged.shape

(17289, 107)

In [306]:
data_6 = merged.drop(columns=['grade',13])

### Yr_Built

In [307]:
data_6.yr_built.unique()

array([1986, 1977, 1997, 1990, 2004, 1970, 1987, 2005, 1909, 1930, 1963,
       1968, 2003, 1910, 2001, 1954, 1993, 1969, 1976, 2007, 1983, 1955,
       1981, 1972, 1904, 1942, 1973, 1918, 1961, 1962, 2000, 2013, 2014,
       2009, 1953, 1960, 1994, 1900, 1999, 1949, 1980, 1944, 1921, 1998,
       1925, 1950, 1985, 1974, 1926, 1967, 1975, 1912, 1966, 2006, 1991,
       1959, 1984, 1979, 1964, 1920, 1957, 1995, 1951, 1982, 1988, 1914,
       1917, 1908, 1947, 1971, 2015, 1937, 1958, 2002, 1956, 1938, 1948,
       2008, 2010, 1936, 1907, 2012, 1978, 1941, 1965, 1992, 1927, 1929,
       1903, 1928, 1915, 1923, 1946, 1911, 1996, 1952, 1940, 1916, 1945,
       1943, 1989, 1913, 1906, 1924, 1931, 1922, 1932, 1901, 1905, 2011,
       1939, 1919, 1933, 1935, 1902, 1934])

In [308]:
built_dummies = pd.get_dummies(data_6.yr_built)

In [309]:
merged = pd.concat([data_6,built_dummies],axis='columns')
merged.shape

(17289, 221)

In [310]:
data_6 = merged.drop(columns=['yr_built',1951])

# New Dataframe

In [311]:
%store data_6

Stored 'data_6' (DataFrame)

# Train-Test Split

In [312]:
train_set, test_set = train_test_split(data_6, test_size=0.2, random_state=42)
print(len(train_set), "train +", len(test_set), "test")

13831 train + 3458 test

# PREPARE DATA FOR MACHINE LEARNING

In [313]:
x_train = train_set.drop('price', axis=1)
y_train = train_set['price'].copy()

# LINEAR REGRESSION

In [314]:
lr = LinearRegression()

lr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [315]:
def array_to_dict(labels,coeffs):
    '''
    This function takes two arrays as arguments and turns those 
    arrays into a dictionary so that it is easier to interpret the 
    coefficients from the sklearn analysis
    '''
    one_list = list(labels)
    two_list = list(coeffs)
    res = {} 
    for key in two_list: 
        for name in one_list: 
            res[key] = name 
            one_list.remove(name) 
            break 
    return res

In [316]:
coefficients = lr.coef_
variables = np.array(x_train.columns)

array_to_dict(coefficients, variables)

{'bedrooms': -4381.293656422312,
 'bathrooms': 25874.232199669594,
 'sqft_living': -429.6284800792167,
 'sqft_lot': 39813.780088249034,
 'floors': -92028.0882147824,
 'waterfront': 629903.9042262799,
 'view': -27064.851572409276,
 'condition': -28192.217530420196,
 'sqft_above': 189352.44989315874,
 'sqft_basement': 50.69920800822729,
 'yr_renovated': -16.876947170792846,
 'lat': 12778536.634622756,
 'long': -271477.82557356096,
 'sqft_living15': 25.39069549800479,
 'sqft_lot15': -10523.628342440228,
 'date_year': 39564.248879379724,
 'date_month': 1613.3141834754038,
 'date_day': -102.3555252221156,
 'rel_to_neighbors': -3367.3530716590926,
 'size_quality': 13.823471309784509,
 'property_score': -0.26016674397396855,
 'floor_reno_mult': 28.368731428636238,
 'grade_sqft_living': 14.213809225388104,
 'categorical_proportions': 106.28501000883989,
 98001: -35791.36415089585,
 98002: -2781.1421355873354,
 98003: -52633.40492949772,
 98004: 680121.8610721886,
 98005: 242846.6521427796,
 98006: 181802.87283441308,
 98007: 195920.97969189278,
 98008: 203991.2250508371,
 98010: 75638.75180924685,
 98011: 18323.910063283096,
 98014: 77896.3699238722,
 98019: 27128.010514102407,
 98022: 68382.09463925706,
 98023: -79064.24549459438,
 98024: 153862.32958680188,
 98027: 135278.83638557134,
 98028: -5074.487859226294,
 98029: 208018.37856763127,
 98030: -30327.159625569675,
 98031: -19678.565979587267,
 98032: -37113.60855337734,
 98033: 254546.4634288633,
 98034: 84181.3935460608,
 98038: 43064.7680899887,
 98039: 1099186.4258626534,
 98040: 392411.8363504856,
 98042: -3727.5173933892847,
 98045: 157553.36083155507,
 98052: 166319.8636721596,
 98053: 131491.46111235142,
 98055: -4321.929359117139,
 98056: 44306.936611511446,
 98058: 5264.220033552082,
 98059: 42369.750969144494,
 98065: 107196.96756839377,
 98070: -98077.9992425539,
 98072: 48949.49516281246,
 98074: 150172.3819998622,
 98075: 143808.99310768346,
 98077: 18064.176550706172,
 98092: -29841.698708998196,
 98102: 399831.4072764262,
 98103: 227236.97843861324,
 98105: 359859.04877894383,
 98106: 26441.65290125994,
 98107: 233387.56598256557,
 98108: 35709.75441900851,
 98109: 385223.3690973989,
 98112: 516763.7559907402,
 98115: 215124.72241611642,
 98116: 189756.73208272475,
 98117: 183202.66459788237,
 98118: 93123.32821193845,
 98119: 378155.09416398645,
 98122: 260350.023032832,
 98125: 64529.5574382171,
 98126: 93252.76315886935,
 98133: 10792.561499074274,
 98136: 164576.39899602137,
 98144: 194524.71488787045,
 98146: -7487.23305040226,
 98148: -16176.407163432536,
 98166: -31186.693960079967,
 98168: -35524.32474257182,
 98177: 72402.00642788011,
 98178: -19364.36337546485,
 98188: -20584.059687853856,
 98198: -44344.73385619485,
 98199: 241988.50456695072,
 3: -474807.3023422568,
 4: -456044.0515033654,
 5: -507985.93225500995,
 6: -530744.925192425,
 7: -556190.0490733454,
 8: -592935.9269845213,
 9: -620801.5909807878,
 10: -625685.6131641223,
 11: -626137.3834300429,
 12: -568360.907725799,
 1900: 17058.932517425066,
 1901: -50118.853265772836,
 1902: -38704.13669668481,
 1903: -5075.025280199558,
 1904: 1459.1060484725574,
 1905: 42750.75170001734,
 1906: -5759.373305019521,
 1907: 48991.36648499823,
 1908: -15960.700596280763,
 1909: 36011.832496870644,
 1910: 41904.37934523301,
 1911: 9993.867974723746,
 1912: 32169.65928140237,
 1913: 35562.91821334928,
 1914: 18080.42053240907,
 1915: 20828.171699986535,
 1916: 34661.76682747226,
 1917: 3764.1664572389964,
 1918: -8106.052291737192,
 1919: 22788.199689338635,
 1920: 32285.363908250958,
 1921: 49577.72211236168,
 1922: 42463.0570372034,
 1923: 27453.268507647677,
 1924: 15599.56738641095,
 1925: 24183.714857879157,
 1926: 55143.44257420725,
 1927: 50625.91545839332,
 1928: 39464.85555193369,
 1929: 12577.957525479198,
 1930: 4124.027338842785,
 1931: 12614.41634233241,
 1932: 54667.923051227845,
 1933: 5403.930169842568,
 1934: 32397.28865719048,
 1935: 20599.532956712304,
 1936: 11286.837717090151,
 1937: 22723.187903237766,
 1938: 42280.91204932602,
 1939: 76853.4943248508,
 1940: 50432.20853942505,
 1941: 41801.55076716875,
 1942: 7937.382545161047,
 1943: -3848.70247269952,
 1944: 15673.178091734413,
 1945: 36299.93877900988,
 1946: 3443.3399634391103,
 1947: 4571.3678424626505,
 1948: 2249.603951780711,
 1949: 7094.16928883348,
 1950: 6973.943117672149,
 1952: -12992.264370197143,
 1953: -20511.62499180682,
 1954: -4271.172430475209,
 1955: -24831.369157369238,
 1956: 3862.715161475268,
 1957: -6762.1848865200645,
 1958: 7522.99898971173,
 1959: -3599.9336270244357,
 1960: -7679.281265471102,
 1961: -10531.935404662416,
 1962: -1355.3270928499355,
 1963: -2066.03955367108,
 1964: -22506.100619039615,
 1965: -31839.601408515147,
 1966: -22429.24484732338,
 1967: -10489.982606521422,
 1968: 1221.6212395657503,
 1969: 24242.028220658474,
 1970: -16462.046962525976,
 1971: -5556.77165060482,
 1972: -2009.3720833617667,
 1973: 760.8898155168174,
 1974: -10962.614866348107,
 1975: -3025.9696019814646,
 1976: 2752.3999317198536,
 1977: -15586.95405618603,
 1978: -8803.556569773786,
 1979: -16314.328241984926,
 1980: 3553.5951517992453,
 1981: 25774.50133886533,
 1982: -5902.992692035294,
 1983: 18714.164517288817,
 1984: 10560.986687878292,
 1985: 8305.877917771742,
 1986: -2727.264111673446,
 1987: -298.89501971043114,
 1988: -6390.706188240878,
 1989: 2285.493552610733,
 1990: -18623.85321907362,
 1991: -5815.966385054777,
 1992: -2433.066314041561,
 1993: 25900.159002786422,
 1994: 13888.980033259868,
 1995: 11645.689952619095,
 1996: 15167.528569391843,
 1997: 9327.40690251025,
 1998: 2438.6777792852517,
 1999: 26666.296755908206,
 2000: 33669.44100051857,
 2001: 28582.342768673992,
 2002: 30390.24418667315,
 2003: 43600.04867066245,
 2004: 40777.01056158497,
 2005: 16828.071570053788,
 2006: 29229.037594583235,
 2007: 34562.561392833915,
 2008: 62165.69659988999,
 2009: 57965.631482927405,
 2010: 77537.87429347774,
 2011: 64202.77794512238,
 2012: 57717.88082486955,
 2013: 101436.30197019034,
 2014: 96307.68082419883,
 2015: 71074.08007855722}

In [317]:
lr.intercept_

-162850432.3139968

In [318]:
y_pred = lr.predict(x_train)
lr.score(x_train, y_train)

0.8585814372325556

In [319]:
lr_rsme = mean_squared_error(y_train, y_pred)
lr_rmse = np.sqrt(lr_rsme)

rmse_dollars = '${:,.2f}'.format(lr_rmse)
rmse_dollars

'$140,647.18'